@charset "UTF-8";
@import './vendor/normalize.css';
@import url('//fonts.googleapis.com/css?family=Ovo');
@import url('//fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu+Mono');






* {
    margin: 0;
    padding: 0;

}

.App {
    text-align: center;
    background-color:rgb(255, 255, 255);
    height: auto;
    width: 100%;
    color: rgba(210, 218, 226,1.0);






        

    .loader_wrapper {
        padding: 200px 0 200px 0;
    }




    .main_component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wrapper_component {
            height: auto;
            width: 100%;    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1.5px solid #182C61;
            margin: 5px 0 5px 0;

            .wrapper_component_inner {
                height: auto;
                width: 90%;        
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1.5px solid #182C61;
                margin: 5px 0 5px 0;

                /** SETTINGS MENU **/
                .settings_menu_upper {
                    height: auto;
                    width: 100%;    
                    display: 'flex';
                    justify-content: 'center';

                    .optmenu_component {
                        position: relative;
                        display: inline-block;
                        width: 20%;
                        
                        ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            position: absolute;
                            width: 100%;
                            box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.12);
                         
                            li a {
                                color: #182C61;
                                text-decoration: none;
                                font-family: 'Ubuntu Mono', monospace;
                                font-size: 0.8em;
                            }
                            li {
                                height: auto;
                                width: 100%;
                                padding: 10px 0 10px 0;
                                border-bottom: 1px solid #182C61;
                                background-color: #ffffff;
                                box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.3);
                            }
                            li:hover {
                                background-color: #182C61;

                                a {
                                    color: #ffffff;
                                }
                            }

                        }

                        .btn {
                            height: auto;
                            width: 100%;
                            background-color: #ffffff;
                            border-bottom: 0.5px solid #182C61;
                            padding: 10px 0 10px 0;
                            font-family: 'Ubuntu Mono', monospace;
                            font-size: 1em;
                            font-weight: 300;
                            color: #182C61;
                            
                        }
                        
                        .btn:hover {
                            background-color: #182C61;
                            color: #ffffff;
                            border: 0 px solid #ffffff;
                            box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.2);
          
                        }
                        .btn:before {
                            position: absolute;
                            border: 10px solid;
                            border-color: white transparent transparent transparent;
                            right: 6px;
                            top: 18px;
                        }

                    }
                }

                .editor_menu_lower {
                    height:auto;
                    width: 100%;        
                    display: flex;
                    flex-direction: row;

                    .loader_wrapper {
                        padding: 200px 0 200px 0;
                        
                    }
    
                    .editor_menu_left {
                        height: 100%;
                        width: 15%;        
                        display: flex;
                        flex-direction: column;
                        

                        .editor_side_option {
                            height: 20%;
                            width: 100%;        
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background-color: #ffffff;
                            

                            .editor_side_option_p {
                                text-decoration: none;
                                font-family: 'Ubuntu Mono', monospace;
                                font-size: 1em;
                                text-align: center;
                                color: #182C61;
                            }
                        }
                        .editor_side_option:hover {
                            background-color: #182C61;
                   
                            .editor_side_option_p {
                                font-size: 1.25em;
                                color: #ffffff;
                            }
                        }
                    }
                    .editor_window_right {
                        padding: 0px 0 0 0;
                        height:auto;
                        width: 100%;        
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .popup_component {
                            position: fixed;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            background-color: rgba(0,0,0, 0.5);

                            .popup_wrapper_inner {
                                position: absolute;
                                left: 25%;
                                right: 25%;
                                top: 25%;
                                bottom: 25%;
                                margin: auto;
                                background: white;

                                .popup_upper {
                                    height: 80%;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    border-bottom: 0.5px solid #182C61;

                                    .popup_upper_wrapper { 
                                        height: auto;
                                        width: 90%;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        margin: 15px 0 15px 0;
                                        border: 0.5px solid #182C61;
                                        

                                        .filename_row_wrapper {
                                            height: auto;
                                            width: 90%;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                    

                                            .popup_filename_p {
                                                margin: 10px 0 10px 0;
                                                font-family: 'Ubuntu Condensed', sans-serif;
                                                font-size: 1.5em;
                                                text-align: center;
                                                color: #182C61;
                                            }
                                            .text_input_div {
                                                height: auto;
                                                width: 90%;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                margin-top: 1.5px;
                                                padding: 3px;

                                                .text_input_label {
                                                    font-family: 'Ubuntu Condensed', sans-serif;
                                                    font-size: 1em;
                                                    text-align: center;
                                                    color: #4d4f50;
                                                }
                                                .help_block {
                                                    margin: 3px 0 10px 0;
                                                    width: 80%;
                                                    height: auto;
                                                    background-color: #a31212;
                                                    border-radius: 12.5px;
                                                    border: 0.5px solid rgb(0, 0, 0);
                                                    padding: 5px 0 5px 0;
                                                    color: #FFFFFF;
                                                }
                                                .text_input {
                                                    width: 100%;
                                                    height: 50px;
                                                    text-align: center;
                                                }
                                            }
                                        }

                                        .input_row_wrapper {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: center;
                                            height: auto;
                                            width: 90%;
                                            margin: 15px 10px 15px 10px;

                                            .text_input_div {
                                                height: auto;
                                                width: 50%;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                margin-top: 1.2%;
                                                padding: 3px;

                                                .text_input_label {
                                                    font-family: 'Ubuntu Condensed', sans-serif;
                                                    font-size: 1em;
                                                    text-align: center;
                                                    color: #4d4f50;
                                                }
                                                .help_block {
                                                    margin: 3px 0 10px 0;
                                                    width: 80%;
                                                    height: auto;
                                                    background-color: #a31212;
                                                    border-radius: 12.5px;
                                                    border: 0.5px solid rgb(0, 0, 0);
                                                    padding: 5px 0 5px 0;
                                                    color: #FFFFFF;
                                                }
                                                .text_input {
                                                    width: 100%;
                                                    height: 50px;
                                                    text-align: center;
                                                }
                                            }
                                            .select_input_div {
                                                height: auto;
                                                width: 49%;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                margin-top: 1.2%;
                                                padding: 3px;

                                                .select_input_label {
                                                    font-family: 'Ubuntu Condensed', sans-serif;
                                                    font-size: 1em;
                                                    text-align: center;
                                                    color: #4d4f50;
                                                }
                                                .help_block {
                                                    margin: 3px 0 10px 0;
                                                    width: 80%;
                                                    height: auto;
                                                    background-color: #a31212;
                                                    border-radius: 12.5px;
                                                    border: 0.5px solid rgb(0, 0, 0);
                                                    padding: 5px 0 5px 0;
                                                    color: #FFFFFF;
                                                }
                                                .select_input {
                                                    width: 100%;
                                                    height: 50px;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .popup_bottom {
                                    height: auto;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    margin: 10px 0 10px 0;

                                    .close_btn {
                                        height: 50px;
                                        width: 45%;        
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        font-family: 'Ubuntu Mono', monospace;
                                        font-size: 1em;
                                        text-align: center;
                                        
                                        .close_btn_p {
                                            color: #182C61;
                                        }
                                    }

                                    .close_btn:hover {
                                        background-color: #182C61;
        
                                        .close_btn_p {
                                            color: #ffffff
                                        }
        
                                    }

                                }
                            }

                        }

                        .canvas_shape_menu {
                            height: auto;
                            width: 100%;        
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        
        
                            .editor_shape_menu {
                                height: auto;
                                width: 100%;        
                                display: flex;
                                flex-direction: row;
        
                                .editor_shape_option {
                                    height: 50px;
                                    width: 33.33%;        
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    background-color: #ffffff;

                                    .editor_shape_option_p {
                                        text-decoration: none;
                                        font-size: 1em;
                                        font-family: 'Ubuntu Mono', monospace;
                                        font-weight: 600;
                                        color: #182C61;
                                    }
                                }
          
                                .editor_shape_option:hover {
                                    background-color: #182C61;
                        
                                    .editor_shape_option_p {
                                        text-decoration: none;
                                        font-size: 1.2em ;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }

                        
                        .annotation_id_p {
                            font-family: 'Ubuntu Condensed', sans-serif;
                            font-size: 1.7em;
                            text-align: center;
                            color:#182C61;
                            margin: 10px 0 20px 0;
                        }

                        .canvas_btns {
                            margin: 0px 0 0 0;
                            height: auto;
                            width: 100%;        
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            .canvas_btn {
                                height: 50px;
                                width: 50%;        
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                font-family: 'Ubuntu', monospace;
                                font-size: 1em;
                                text-align: center;
                                background-color: #ffffff;

                                .canvas_btn_p {
                                    color:#182C61
                                }

                            }

                            .canvas_btn:hover {
                                background-color: #182C61;

                                .canvas_btn_p {
                                    font-size: 1.25em;
                                    color: #ffffff
                                }

                            }

                        }

                        #canvas_btns_upper {
                            margin: 0 0 0px 0;
                        }

                        #canvas_btns_bottom {
                            margin: 20px 0 0 0;
                        }


                    }
                }

                .editor_window_bottom {
                    height: 200px;
                    width: 100%;
                    border: 1px solid #182C61;

                    .textarea_component {
                        padding: 15px;
                    }

                }



            }
        }
    }
    

    /*** EVERYTHING BELOW HERE IS HEADER RELATED ***/


    .header_comp {
        width: 100%;
        height: auto;

        .header_comp_infobox {
            padding: 20 0 20 0;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center; 

            .header_comp_title {
                padding: 20px 0 20px 0;
                margin: 0 10px 0 10px;
                font-family: 'Ubuntu Condensed', sans-serif;
                font-size: 2.5em;
                text-align: center;
                color:  #182C61;
            }

        }
        
    }



/*** EVERYTHING NAV RELATED BELOW THIS LINE BROTHAH ***/

    .navbar_comp {
        margin: 0px 0 15px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        border-bottom: 1px solid #FFF;
        height: 50px;

        .navbar_item {
            height: 100%;
            width: 23%;

            #navbartext {
                text-decoration: none;
              
            }
            .navitem_text {
                font-family: 'Ubuntu Mono', monospace;
                font-size: 1em;
                text-align: center;
                vertical-align: middle;
                line-height: 45px; 
                color: #ffffff;
            }
        }

        #navbar_item_1 {
            background-color: rgb(24, 44, 97)
        }
        #navbar_item_2 {
            background-color:  rgb(22, 108, 149)
        }
        #navbar_item_3 {
            background-color:  rgb(20, 83, 99)
        }
        #navbar_item_4 {
            background-color:  rgb(26, 158, 149)
        }

        #navbar_item_1:hover {
            background-color: #ffffff;
            box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.35);

            .navitem_text {
                text-decoration: none;
                font-size: 1.2em ;
                color: #182C61
                
            }
        }
        #navbar_item_2:hover {
            background-color: #ffffff;
            box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.35);
 
            .navitem_text {
                text-decoration: none;
                font-size: 1.2em ;
                color: #182C61
            }
        }
        #navbar_item_3:hover {
            background-color: #ffffff;
            box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.35);

            .navitem_text {
                text-decoration: none;
                font-size: 1.2em ;
                color: #182C61
            }
        }
        #navbar_item_4:hover {
            background-color: #ffffff;
            box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.35);

            .navitem_text {
                text-decoration: none;
                font-size: 1.2em ;
                color: #182C61
                
            }
        }
    }


    

    /*** EVERYTHING BELOW HERE IS FOOTER COMPONENTS ***/

    .footer_comp {
        margin: 20px 0 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        border-bottom: 1px solid #FFF;
        height: 150px;
        background-color:   #182C61;

        .footer_text {
            font-family: 'Ubuntu Mono', monospace;
            font-size: 1em;
            text-align: center;
            vertical-align: middle;
            line-height: 100px; 
            color: #ffffff;

        }
    }


}


